@page
@model ContosoCrafts.WebSite.Pages.Product.IndexModel
@{
    ViewData["Title"] = "Index page";
}

<div class="container bg-light" style="padding-top:10px; padding-bottom:10px;">

    <a asp-page="Create" class="btn btn-primary" style="margin-bottom:10px;">Add</a>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Candidate Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.FullName</td>
                    <td><a class="btn btn-primary" asp-page="Read" asp-route-id="@product.Id">Read</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>