@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.UpdateModel

@{
    ViewData["Title"] = "Update page";
}

<h1>Update</h1>

<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x => x.Product.Id)

        <div class="form-group">
            <label asp-for="Product.FullName" class="control-label"></label>
            <input asp-for="Product.FullName" class="form-control" />
            <span asp-validation-for="Product.FullName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Product.Description" class="control-label"></label>
            <input asp-for="Product.Description" class="form-control" />
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Product.LinkedinUrl" class="control-label"></label>
            <input asp-for="Product.LinkedinUrl" class="form-control" />
            <span asp-validation-for="Product.LinkedinUrl" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Product.Photo" class="control-label"></label>
            <input asp-for="Product.Photo" class="form-control" />
            <span asp-validation-for="Product.Photo" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}