@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.UpdateModel

@{
    ViewData["Title"] = "Update page";
}

<div class="container bg-light" style="padding-top:10px; padding-bottom:10px;">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x => x.Product.Id)


        <div class="form-group">
            <label asp-for="Product.FullName" class="control-label"></label>
            <input asp-for="Product.FullName" class="form-control" />
            <span asp-validation-for="Product.FullName" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="Product.Photo" class="control-label"></label>
            <input asp-for="Product.Photo" class="form-control" />
            <span asp-validation-for="Product.Photo" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="Product.LinkedinUrl" class="control-label"></label>
            <input asp-for="Product.LinkedinUrl" class="form-control" />
            <span asp-validation-for="Product.LinkedinUrl" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Product.AboutMe" class="control-label"></label>
            <textarea rows="2" asp-for="Product.AboutMe" class="form-control"></textarea>
            <span asp-validation-for="Product.AboutMe" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="Product.PersonalSkill" class="control-label"></label>
            <textarea rows="2" asp-for="Product.PersonalSkill" class="form-control"></textarea>
            <span asp-validation-for="Product.PersonalSkill" class="text-danger"></span>
        </div>


        <hr class="rounded">
        <div class="divcss5">EDUCATION</div>
        <div class="form-group">
            <label asp-for="Product.EducationHistory.University" class="control-label"></label>
            <input asp-for="Product.EducationHistory.University" class="form-control" />
            <span asp-validation-for="Product.EducationHistory.University" class="text-danger"></span>
        </div>
        <div class="container">
            <div class="row">
                <div class="form-group col-xs-6">
                    <label asp-for="Product.EducationHistory.Degree" class="control-label"></label>
                    <input asp-for="Product.EducationHistory.Degree" class="form-control" input-group-lg reg_name />
                    <span asp-validation-for="Product.EducationHistory.Degree" class="text-danger"></span>
                </div>

                <div class="form-group col-xs-6">
                    <label asp-for="Product.EducationHistory.Major" class="control-label"></label>
                    <input asp-for="Product.EducationHistory.Major" class="form-control" input-group-lg reg_name />
                    <span asp-validation-for="Product.EducationHistory.Major" class="text-danger"></span>
                </div>

                <div class="form-group col-xs-6">
                    <label asp-for="Product.EducationHistory.GPA" class="control-label"></label>
                    <input asp-for="Product.EducationHistory.GPA" class="form-control" input-group-lg reg_name />
                    <span asp-validation-for="Product.EducationHistory.GPA" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-6">
                    <label asp-for="Product.EducationHistory.Location" class="control-label"></label>
                    <input asp-for="Product.EducationHistory.Location" class="form-control" input-group-lg reg_name />
                    <span asp-validation-for="Product.EducationHistory.Location" class="text-danger"></span>
                </div>

                <div class="form-group col-xs-6">
                    <label asp-for="Product.EducationHistory.StartDate" class="control-label"></label>
                    <input asp-for="Product.EducationHistory.StartDate" class="form-control" input-group-lg reg_name />
                    <span asp-validation-for="Product.EducationHistory.StartDate" class="text-danger"></span>
                </div>
                <div class="form-group col-xs-6">
                    <label asp-for="Product.EducationHistory.EndDate" class="control-label"></label>
                    <input asp-for="Product.EducationHistory.EndDate" class="form-control" input-group-lg reg_name />
                    <span asp-validation-for="Product.EducationHistory.EndDate" class="text-danger"></span>
                </div>
            </div>
        </div>

        <hr class="rounded">
        <div class="divcss5">EXPERIENCES</div>
        <div class="form-group">
            <label asp-for="Product.Experiences.Title" class="control-label"></label>
            <input asp-for="Product.Experiences.Title" class="form-control" />
            <span asp-validation-for="Product.Experiences.Title" class="text-danger"></span>
        </div>
        <div class="container">
            <div class="row">
                <div class="form-group col-xs-6">
                    <label asp-for="Product.Experiences.Employer" class="control-label"></label>
                    <input asp-for="Product.Experiences.Employer" class="form-control" input-group-lg reg_name />
                    <span asp-validation-for="Product.Experiences.Employer" class="text-danger"></span>
                </div>

                <div class="form-group col-xs-6">
                    <label asp-for="Product.Experiences.StartDate" class="control-label"></label>
                    <input asp-for="Product.Experiences.StartDate" class="form-control" input-group-lg reg_name />
                    <span asp-validation-for="Product.Experiences.StartDate" class="text-danger"></span>
                </div>

                <div class="form-group col-xs-6">
                    <label asp-for="Product.Experiences.EndDate" class="control-label"></label>
                    <input asp-for="Product.Experiences.EndDate" class="form-control" input-group-lg reg_name />
                    <span asp-validation-for="Product.Experiences.EndDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Product.Experiences.Description" class="control-label"></label>
            <textarea rows="5" asp-for="Product.Experiences.Description" class="form-control"></textarea>
            <span asp-validation-for="Product.Experiences.Description" class="text-danger"></span>
        </div>

        <hr class="rounded">
        <div class="divcss5">AWARD</div>
        <div class="form-group">
            <label asp-for="Product.Awards.Award" class="control-label"></label>
            <input asp-for="Product.Awards.Award" class="form-control" />
            <span asp-validation-for="Product.Awards.Award" class="text-danger"></span>
        </div>
        <div class="container">
            <div class="row">
                <div class="form-group col-xs-6">
                    <label asp-for="Product.Awards.Issuer" class="control-label"></label>
                    <input asp-for="Product.Awards.Issuer" class="form-control" input-group-lg reg_name />
                    <span asp-validation-for="Product.Awards.Issuer" class="text-danger"></span>
                </div>

                <div class="form-group col-xs-6">
                    <label asp-for="Product.Awards.AwardDate" class="control-label"></label>
                    <input asp-for="Product.Awards.AwardDate" class="form-control" input-group-lg reg_name />
                    <span asp-validation-for="Product.Awards.AwardDate" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Product.Password" class="control-label"></label>
            <input asp-for="Product.Password" class="form-control" value="Enter your password" />
            <span asp-validation-for="Product.Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

@*Received HTML code from server*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}