@page
@model AboutModel
@{
    ViewData["Title"] = "Team DreamCrushers";
}
<h1>@ViewData["Title"]</h1>

<h3>Yiu Wing Wong (Benny)</h3>
<p>Add content here</p>

<h3>Xinyu Qiu</h3>
<p>Add content here</p>

<h3>Wei-Che Chung (Jesse)</h3>
<p>I am extremely motivated to solve technical puzzles and always sharpen my skill. 
   I am confident in my research ability at the same time I have diverse 
   coding experience so that no matter what the situation,
   I can get into work proficiently.</p>

<h3>Bart Nadala</h3>
<p>Add content here</p>

<h3>Jun Liao</h3>
<p>Add content here</p>
