@page
@model AboutModel
@{
    ViewData["Title"] = "Team DreamCrushers";
}

<div class="container bg-light" style="padding:20px;">
    <h1 style="text-align:center">@ViewData["Title"]</h1>

    <h3>Yiu Wing Wong (Benny)</h3>
    <p>
        I have quit my job as an assistant business manager and given up a few opportunities at local investment banks to
        start this new venture. Having tried numerous positions in different sectors ranging from insurance to retail,
        I have yet to find the motivation and fulfillment to wake up on a Monday morning. It is until I have voluntarily
        joined a data protection development project during my free time, I have discovered my interest in computer science
        and programming. Starting from learning basics, I am entirely determined but, at the same time, excited about this
        new challenge.
    </p>

    <h3>Xinyu Qiu</h3>
    <p>
        I enjoy a nice cup of coffee in a sunny day to help me battle with
        job applications and coding practise. I have experience coding mainly
        in java and C++. I do not have much on-hand coding experience but
        I am a fast learner and can find out the solutions quickly.
    </p>

    <h3>Wei-Che Chung (Jesse)</h3>
    <p>
        I am extremely motivated to solve technical puzzles and always sharpen my skill.
        I am confident in my research ability at the same time I have diverse
        coding experience so that no matter what the situation,
        I can get into work proficiently.
    </p>

    <h3>Bart Nadala</h3>
    <p>
        I have worked as an on-site IT, software developer, and web developer.
        Of the three titles, I am most proud of my work as a software developer.
        I have experience working with labs making software for their PCR and MicroCycler as well as inventory systems.
        I have a Maltipoo with abandonment issues and greatly enjoyed staying at home during Covid.
    </p>

    <h3>Jun Liao</h3>
    <p>
        I Specialize in delivering real value to the customer/market. During my previous
        role as a Product Manager, the number of my product users was growing 10 times
        within 3 years
    </p>
</div>