@page
@model AboutModel
@{
    ViewData["Title"] = "Team DreamCrushers";
}
<h1>@ViewData["Title"]</h1>

<h3>Yiu Wing Wong (Benny)</h3>
<p>Add content here</p>

<h3>Xinyu Qiu</h3>
<p>Add content here</p>

<h3>Wei-Che Chung (Jesse)</h3>
<p>Add content here</p>

<h3>Bart Nadala</h3>
<p>Add content here</p>

<h3>Jun Liao</h3>
<p>Add content here</p>
