@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<body>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
</body>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
</head>

<div style="background-image: url('https://backcheckgroup.com/wp-content/uploads/2016/02/banner_documents-verification.jpg'); background-repeat: no-repeat; background-size: 100% 100%; width: 100%; height: 250px; ">
    <h1 style="padding-left:5%; padding-top:60px; text-align:left;">
        Online resume builder
    </h1>
    <h5 style="padding-left:5%;">
        Your best support for the future
    </h5>
    <h6 style="padding-left:5%;">
        Build and add your own resume!
    </h6>
    <h6 style="padding-left:5%;">
        Search for potential employees!
    </h6>
</div>

@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>

