@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1><big><strong>Dream Crushers</strong></big></h1>

<marquee>
    <p>
        <font size="+1000" style="color:red;">
            Welcome to our page
        </font>
    </p>
</marquee>

<p>
    This is a platform that allows users to build their own profiles for job applications. The Digital profile builder will automatically build a professional personal profile for the users who only needs to enter their personal info. It's like another version of LinkedIn, which allows recruiters to search for potential candidates.
</p>
<p>  </p>
<p>  </p>
<p>  </p>
<p>Are you looking for a Job?</p>
<button>Contact Us</button>
<script src="_framework/blazor.server.js"></script>
