@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Your privacy is important to us. This privacy statement explains the personal data we processes, how we processes it, and for what purposes.</p>
<p>Our service is provied on Microsoft Azure so our privacy policy is follow by Microsoft Privacy Statement and you can check out in below link:</p>
<p>https://privacy.microsoft.com/en-us/privacystatement</p>
