@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="about_style">@ViewData["Title"]</h1>

<p class="about_style">Your privacy is important to us. This privacy statement explains the personal data we processes, how we processes it, and for what purposes.</p>
<p class="about_style">Our service is provied on Microsoft Azure so our privacy policy is follow by Microsoft Privacy Statement and you can check out in below link:</p>
<a class="about_style" href="https://privacy.microsoft.com/en-us/privacystatement">https://privacy.microsoft.com/en-us/privacystatement</a>
