<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["FullName"] Dream Crushers</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <body style="background-image: url('https://unblast.com/wp-content/uploads/2020/05/Light-Wood-Background-Texture.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%; ">
        <style>
        body {
            margin: 0;
        }

            .navbar {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 75px;
                z-index: 999;        }

        main {
            margin-top: 100px;
            margin-bottom: 100px;
        }
    </style>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm  bg-navbar border-bottom box-shadow mb-3">
                <div id="wrapper">
                </div>
                <div class="container">
                    <a class="navbar-brand text-dark" asp-area="" asp-page="/Index">DreamCrushers</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1 nav-pills">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/About">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Product/Index">Resumes</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                <div style="background-image: url('https://backcheckgroup.com/wp-content/uploads/2016/02/banner_documents-verification.jpg'); background-repeat: no-repeat; background-size: 100% 100%; width: 100%; height: 250px;">
                    <h1 style="padding-left:5%; padding-top:60px; text-align:left;">
                        Online resume builder
                    </h1>
                    <h5 style="padding-left:5%;">
                        Your best support for the future
                    </h5>
                    <h6 style="padding-left:5%;">
                        Build and add your own resume!
                    </h6>
                    <h6 style="padding-left:5%;">
                        Search for potential employees!
                    </h6>
                </div>
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted bg-footer">
            <div class="container text-light">
                &copy; 2019 - DreamCrushers.WebSite - <a class="text-light" asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @RenderSection("Scripts", required: false)
    </body>
</html>
