<!DOCTYPE html>
<canvas id=c></canvas>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["FullName"] Dream Crushers</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        var w = c.width = window.innerWidth,
            h = c.height = document.documentElement.scrollHeight,
            ctx = c.getContext('2d'),

            minDist = 10,
            maxDist = 30,
            initialWidth = 10,
            maxLines = 100,
            initialLines = 4,
            speed = 5,

            lines = [],
            frame = 0,
            timeSinceLast = 0,

            dirs = [
                // straight x, y velocity
                [0, 1],
                [1, 0],
                [0, -1],
                [-1, 0],
                // diagonals, 0.7 = sin(PI/4) = cos(PI/4)
                [.7, .7],
                [.7, -.7],
                [-.7, .7],
                [-.7, -.7]
            ],
            starter = { // starting parent line, just a pseudo line

                x: w / 2,
                y: h / 2,
                vx: 0,
                vy: 0,
                width: initialWidth
            };

        function init() {

            lines.length = 0;

            for (var i = 0; i < initialLines; ++i)
                lines.push(new Line(starter));

            ctx.fillStyle = '#222';
            ctx.fillRect(0, 0, w, h);

            // if you want a cookie ;)
            // ctx.lineCap = 'round';
        }
        function getColor(x) {

            return 'hsl( hue, 80%, 50% )'.replace(
                'hue', x / w * 360 + frame
            );
        }
        function anim() {

            window.requestAnimationFrame(anim);

            ++frame;

            ctx.shadowBlur = 0;
            ctx.fillStyle = 'rgba(0,0,0,.02)';
            ctx.fillRect(0, 0, w, h);
            ctx.shadowBlur = .5;

            for (var i = 0; i < lines.length; ++i)

                if (lines[i].step()) { // if true it's dead

                    lines.splice(i, 1);
                    --i;

                }

            // spawn new

            ++timeSinceLast

            if (lines.length < maxLines && timeSinceLast > 10 && Math.random() < .5) {

                timeSinceLast = 0;

                lines.push(new Line(starter));

                // cover the middle;
                ctx.fillStyle = ctx.shadowColor = getColor(starter.x);
                ctx.beginPath();
                ctx.arc(starter.x, starter.y, initialWidth, 0, Math.PI * 2);
                ctx.fill();
            }
        }

        function Line(parent) {

            this.x = parent.x | 0;
            this.y = parent.y | 0;
            this.width = parent.width / 1.25;

            do {

                var dir = dirs[(Math.random() * dirs.length) | 0];
                this.vx = dir[0];
                this.vy = dir[1];

            } while (
                (this.vx === -parent.vx && this.vy === -parent.vy) || (this.vx === parent.vx && this.vy === parent.vy));

            this.vx *= speed;
            this.vy *= speed;

            this.dist = (Math.random() * (maxDist - minDist) + minDist);

        }
        Line.prototype.step = function () {

            var dead = false;

            var prevX = this.x,
                prevY = this.y;

            this.x += this.vx;
            this.y += this.vy;

            --this.dist;

            // kill if out of screen
            if (this.x < 0 || this.x > w || this.y < 0 || this.y > h)
                dead = true;

            // make children :D
            if (this.dist <= 0 && this.width > 1) {

                // keep yo self, sometimes
                this.dist = Math.random() * (maxDist - minDist) + minDist;

                // add 2 children
                if (lines.length < maxLines) lines.push(new Line(this));
                if (lines.length < maxLines && Math.random() < .5) lines.push(new Line(this));

                // kill the poor thing
                if (Math.random() < .2) dead = true;
            }

            ctx.strokeStyle = ctx.shadowColor = getColor(this.x);
            ctx.beginPath();
            ctx.lineWidth = this.width;
            ctx.moveTo(this.x, this.y);
            ctx.lineTo(prevX, prevY);
            ctx.stroke();

            if (dead) return true
        }

        init();
        anim();

        window.addEventListener('resize', function () {

            w = c.width = window.innerWidth;
            h = c.height = document.documentElement.scrollHeight;
            starter.x = w / 2;
            starter.y = h / 2;

            init();
        })
    </script>
</head>

<body class="layout-body">
    <header>
        <nav class="layout-navbar navbar navbar-expand-sm navbar-toggleable-sm  bg-navbar border-bottom box-shadow mb-3">
            <div id="wrapper">
            </div>
            <div class="container">
                <a class="navbar-brand text-dark" asp-area="" asp-page="/Index">DreamCrushers</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 nav-pills">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Product/Index">Resumes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 layout-main">

            <h1 class="ad-text">
                <FONT COLOR=white>
                    Online resume builder
                </FONT>
            </h1>
            <h5 class="padsl5">
                <FONT COLOR=white>
                    Your best support for the future
                </FONT>
            </h5>
            <h6 class="padsl5">
                <FONT COLOR=white>
                    Build and add your own resume!
                </FONT>
            </h6>
            <h6 class="padsl5">
                <FONT COLOR=white>
                    Search for potential employees!
                </FONT>
            </h6>

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-footer">
        <div class="container foot_style">
            &copy; 2021 - DreamCrushers.WebSite - <a class="foot_style" asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
